<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PTracker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Ptracker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <PTracker.My.MySettings>
      <setting name="DatabasePath" serializeAs="String">
        <value />
      </setting>
      <setting name="LocalBackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="NetworkBackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ExternalBackupPath" serializeAs="String">
        <value />
      </setting>
    </PTracker.My.MySettings>
    <Ptracker.My.MySettings>
      <setting name="DatabasePath" serializeAs="String">
        <value />
      </setting>
      <setting name="LocalBackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="NetworkBackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ExternalBackupPath" serializeAs="String">
        <value />
      </setting>
    </Ptracker.My.MySettings>
  </userSettings>
</configuration>